@import url("reset.css");
@import url("normalize.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
}

.add_svg,
.remove_svg {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .8s;
  width: 5%;
}

.header {
  padding-top: 3rem;
}

.header_img {
  display: block;
  width: 15rem;
}

.header_title {
  font-size: 3rem;
}

input[type='radio'] {
  display: none;
}

.mem_img {
  height: 0;
  width: 40rem;
  transition-property: height;
  transition-duration: .8s;
}

.mem_title {
  font-size: 2rem;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.section>input:checked+.label>.mem_img {
  height: 20rem;
  border: .3rem solid red
}

@media(min-width: 1920px) {

  .header_title,
  .mem_title {
    font-size: 2rem;
  }
}

@media(max-width: 1920px) {

  .header_title,
  .mem_title {
    font-size: 2rem;
  }
}

@media(max-width: 820px) {

  .header_title,
  .mem_title {
    font-size: 1.5rem;
  }

}

@media(max-width: 710px) {
  .wrapper {
    padding: 0 1rem;
  }

  .mem_img {
    width: 80%;
  }

  .label {
    justify-content: center;
  }

  .add_svg,
  .remove_svg {
    display: none;
  }
}


@media(max-width: 320px) {

  .header_title,
  .mem_title {
    font-size: 1rem;
  }
}

@media (hover: hover) {
  .main:hover>.section>:not(input:checked)+.label>.add_svg {
    opacity: 1;
  }

  .main:hover>.section>input:checked+.label>.remove_svg {
    opacity: 1;
  }

  .section:hover>.label>.remove_svg {
    opacity: 1;
  }

  .section:hover>.label>.add_svg {
    opacity: 0 !important;
  }

  .section:hover {
    cursor: pointer;
  }

  .section:hover>.label>.mem_img {
    height: 20rem;
  }

}